.container {
  max-width: 2560px;
  height: auto;
  margin: 0 auto;
}

.container-full {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: right;
}

@media (max-width: 850px) {
  .container-full {
    justify-content: center;
  }
}

@media (min-width: 0) {
  .container-full {
    height: 65vh;
  }
}

@media (min-width: 800px) {
  .container-full {
    height: 80vh;
  }
}

@media (min-width: 1100px) {
  .container-full {
    height: 100vh;
  }
}

.container-green {
  background-color: rgb(143, 193, 71);
  box-shadow: inset 0px 0px 100px 15px rgba(0, 0, 0, 0.5);
}

.container-grey {
  background-color: rgb(220, 220, 220);
  box-shadow: inset 0px 0px 100px 15px rgba(0, 0, 0, 0.5);
  padding: 7rem 0;
}

@media (max-width: 800px) {
  .container-grey {
    padding: 2rem 0;
  }
}

.container-yellow {
  background-color: rgb(255, 221, 0);
  box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 0.5);
  padding: 8rem 0;
}

@media (max-width: 850px) {
  .container-yellow {
    padding: 4rem 1rem;
  }
}
