.container {
  max-width: 2560px;
  height: auto;
  margin: 0 auto;
}

.container-full {
  height: 100vh;
  display: flex;
  align-items: center;

}

@media (max-width: 850px) {
  .container-full {
    justify-content: center;
  }
}

@media (min-width: 0) {
  .container-full {
    height: 65vh;
  }
}

@media (min-width: 800px) {
  .container-full {
    height: 80vh;
  }
}

@media (min-width: 1100px) {
  .container-full {
    height: 100vh;
  }
}

.container-info {
  background-color: rgb(244, 255, 245);
  padding: 7rem 0;
}

@media (max-width: 800px) {
  .container-info {
    padding: 4rem 0;
  }
}

.container-light {
  background-color: rgb(255, 255, 255);
  padding: 7rem 0;
}

@media (max-width: 800px) {
  .container-light {
    padding: 2rem 0;
  }
}

.container-yellow {
  background-color: rgb(255, 224, 138);
  padding: 8rem 0;
}

@media (max-width: 850px) {
  .container-yellow {
    padding: 4rem 0;
  }
}
