.row {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .row {
    gap: .1rem;
  }
}

.comments {
  gap: 2rem 0;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 968px) {
  .comments {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 698px) {
  .delivery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 689px) {
  .row-one {
    grid-template-columns: 1fr;
  }
}